body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
}
div.bo{
	background-color: white;

}
div.head{
	background-color: none;
	color: red;
	font-family: Comic Sans;
}
div.mar{
	background-color: red;
	color: white;
	font-family:Times New Roman ;
	font-size: 10px;
}
div.nav{
	background-color: #1d4052;
	padding: 10px;
	color: #fff;
}
a{
	padding: 10px;
	text-decoration: none;
	font-family: Comic Sans ;
	color: yellow;
	font-size: 14px;
}

a:hover {
  color: white;

}
a.right{
	margin: 25px;
}

}
div.head{
	background-color: none;
}
div.news{
	margin:8px;
}

button.sub{
	border-radius: 10px;
}
footer{
	background-color:#1d4052 ;
	border-radius: 10px;
}
div.fot{
 text-align: left;
 margin: 10px;
}
div.logo1{
	margin-bottom: -23px;
	padding-bottom: -9px;
	margin-right: 20px;
	al
}
textarea{
	border-radius: 10px;
}
button{
	border-radius: 10px;
}
img.y{
	margin-top: 130px;
}
div.last{
	background-color: green;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-family: serif;

}
